    .sc-main {
        display: block;
        position: relative;
        padding-bottom: 148px;
        min-height: 768px;
        overflow: hidden;

        @include sm-block () {
                padding-bottom: 128px;
                min-height: 688px;
            };
        @include xs-block () {
                min-height: 707px;
                padding-bottom: 24px;
            };

        &__img-back {
            background-image: url(#{$imgFolder}hd-wd.jpg);
            background-size: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -12;
        }
        &__itm {
            @include row-flex ();
            justify-content: space-between;
            align-items: center;
            margin-top: 80px;

            @include sm-block () {
                margin-top: 20px;
            };

            @include xs-block () {
                margin-top: 24px;
            };
        }
        &__tl {
            @include col();
            @include size(7);
            @include size-md(5.5);
            @include size-sm(5);
            @include size-xs(12);
        }

        &__tl-bg {
            @include fnt-fira (#FFFFFF, 56px, 67px, 500);
            letter-spacing: 0.04em;
            margin-bottom: 16px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

            @include sm-block () {
                font-weight: 500;
                font-size: 44px;
                margin-bottom: 20px;
            
            };

            @include xs-block () {
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                letter-spacing: 0.04em;
                margin-bottom: 8px;
                }
           
        }

        &__tl-sm {
        
            @include fnt-fira (#FFFFFF, 32px, 44px, 300);
            text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
            @include sm-block () {
                font-weight: 300;
                font-size: 24px;
            };
            @include xs-block () {
            font-weight: 300;
                font-size: 18px;
                line-height: 27px;
                text-align: center;
                margin-bottom: 24px;
            }
            
        }
        
        &__anch-btn {
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 48px;
            height: 48px;
            opacity: 0.7;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor:pointer;
            bottom: 56px;
            & > img {
            transition-duration: 0.3s;
            }
            &:hover > img {
                transform: translate(0px, 5px);
            }
    
            @include xs-block () {
                display: none;
            };
        }
        
        &__scrl-anch {
            position: absolute;
            bottom: 50px;
        }

        @include sm-block () {
            &__img-back {
                background-image: url(#{$imgFolder}hd-wd--t.jpg);
            }
            &__anch-btn {
                bottom: 40px;
            }
            &__scrl-anch {
                bottom: 80px;
             }
        }

        &__video-cont {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: transparent;
            z-index: -11;

        }

        &__video { 
            position: absolute;
            // opacity: 0.5;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -10;
            transform: translateX(-50%) translateY(-50%);
            // background-size: cover;
            transition: 1s opacity;
        }

        &__grad {
            background: linear-gradient(180deg, rgba(35, 65, 155, 0.5) 0%, rgba(0, 115, 190, 0.5) 30.73%, rgba(255, 255, 255, 0) 100%);
            opacity: 0.5;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -9;
        }
                  


    }

