$imgFolder: '../img/';

$clr-blck: #000000;
$clr-grey: #666666;
$clr-dark-grey: #333333;
$clr-grey-icn: #A0A3A5;
$clr-grey-border: #D2D3D4;
$clr-menu: #1D2228;
$clr-menu--h:rgba(255, 255, 255, 0.1);
$clr-white: #ffffff;
$clr-lnk: #1989DB;
$clr-lnk--h: #DE1832;
$clr-red: #DE1832;
$clr-red-dark: #BE2136;
$clr-tab: #3E4348;
$clr-green: #35C253;

