.hd {
   &__logo {
        margin: 24px 0 16px 0;
        // @include col();
        // @include size(4);
       &-cap{
            @include fnt-roboto ($clr-grey, 14px, 20px, normal);
            letter-spacing: 0.04em;
            text-transform: uppercase;
       }
   }

   &__contact {
        display: flex;
        // @include col();
        // @include size(8);
        // @include size-sm(4.5);

        // @include sm-block () {
        //     flex-direction: column;
        // };
        margin-left: auto;


       &-tel {
        margin-left: auto;
        display: flex;
        align-items: center;
        @include fnt-roboto ($clr-blck, 18px, 20px, 500);
        margin-right: 40px;

        & > a {
            color: $clr-blck;
        }
        &:before {
            content: url('../img/icn-phone.png'); 
        }
       }
       &-mail {
        display: flex;
        align-items: center;
        @include fnt-roboto ($clr-lnk, 16px, 20px, normal); 
        & > a {
            
        }
        &:before {
            content: url('../img/icn-mail.png');
        }
       }

   }

   
 }
