.sc-contacts {
	padding-bottom: 0px !important;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;

	&__cap {
		margin-bottom: 80px;
	}

	&__scap {
		margin-bottom: 40px;
	}

	&__tx {
		margin-bottom: 56px;
		text-align: center;
	}

	& .map {
		margin-top: -96px;
		z-index: 2;

	}

	&__blk {
		z-index: 3;
		width: 100%;

		& .card {
			@include col ();
			@include size(4);
		}
	}

	@include sm-block () {
		&__cap {
			margin-bottom: 40px;
		}

		&__scap {
			font-size: 24px;
			line-height: 32px;
		}

		&__tx {
			margin-bottom: 40px;
		}

	}

	@include xs-block () {
		&__scap {
			font-size: 18px;
			line-height: 27px;
		}

		&__tx {
			margin-bottom: 38px;
		}

		&__blk { 
			& .card {
				@include size(12);
			}
		}
	}
}