.menu {
    height: 56px;
    background-color: $clr-menu;
    position: relative;

    &__lf {
        display: flex;

    }
    &__rg {
        display: flex;
        margin-left: auto;
    }
    &__itm-enter {
        &:before {
            content: url('../img/icn-enter.png'); 
        }
    }
    & ul > li {
        @include fnt-roboto-c ($clr-white, 18px, 24px, normal);
        height: 100%;
        display: flex;
        align-items: center;
        padding: 16px 32px;
        cursor: pointer;
        &:hover {
            background-color: $clr-menu--h;
        }
    }
}