.calc {
    background-color: #ECEDEE;
    padding: 56px 0 64px 0;
    &__cap {
        @include fnt-roboto-c ($clr-dark-grey, 32px, 37px, bold);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 56px;
    }
    &__items {
        @include row-flex();
    }

    &__item {
        @include col();
        @include size(3);
        display: flex;
        flex-direction: column;

        
    }

    // select2 restyle
    & .form-control.is-valid {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%2335C253'/%3E%3Cpath d='M7 12L10.5 15.5L18 8' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
        border: 2px solid #35C253;
        border-radius: 6px;
        padding-right: calc(1.5em + 0.75rem);
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);   
    }
    & .form-control.is-invalid {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='12' fill='%23DE1832'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.24264 7.75736L7.82843 9.17157L10.6569 12L7.82843 14.8284L9.24264 16.2426L12.0711 13.4142L14.8995 16.2426L16.3137 14.8284L13.4853 12L16.3137 9.17157L14.8995 7.75736L12.0711 10.5858L9.24264 7.75736Z' fill='white'/%3E%3C/svg%3E%0A");
        border: 2px solid #DE1832;
        border-radius: 6px;
        padding-right: calc(1.5em + 0.75rem);
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    }
    & .invalid-feedback{
        margin-top: 4px;
        @include fnt-roboto ($clr-red, 14px, 16px, normal);
    }
    & .custom-checkbox label{
        @include fnt-roboto ($clr-dark-grey, 17px, 24px, normal);
    }
}