.sc-integr {
	position: relative;
	&__inf{
		padding: 80px 0px;

		&-cap {
			margin-bottom: 56px;
		}
		&-scap {
			margin-bottom: 24px;
		}
	}

	&__ml {
		margin-left: 96px;
	}
	&__serv {
		margin-bottom: 24px;
	}
	&__serv-itm {
		@include col();
		@include size(5.45);
		&:nth-last-child(-n+2) {
			border-bottom: none;	
		}
		
	}

	&__cargo-itm {
		@include col();
		@include size(5.45);	
	}

	&__dtd {
		background: linear-gradient(90deg, #0073BE 39.17%, rgba(0, 115, 190, 0) 99.03%), #00171F;
		padding: 56px 0px;
		position: relative;
		min-height: 435px;
		&-cap {
			margin-bottom: 16px;

		}
		&-tx {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__tx {
		@include col();
		@include size(8.5);


	}
	&__img {
		width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
		
	}

	&__blank {
		display: inline-block;
    	vertical-align: top;
    	width: calc(74%);
	}
	&__car {
		    display: flex;
			flex-direction: column;
			justify-content: center;
    		vertical-align: top;
    		width: calc(26%);
    		margin-right: 40px;
    		margin-left: 20px;
    		margin: auto 40px auto 0;

    		& > img {
    			flex: 0 0 auto;
    		}
	}
	&__cargo {
		position: absolute;
		width: 209px;
		height: 161px;
		top: 190px;
	}

	&__wr {
		display: flex;
	}

	&__itm {
		position: relative;
	}

	@include sm-block () { 
		&__inf{
			padding: 56px 0;
		}

		&__ml {
			margin-left: 0px;
		}
		&__serv-itm {
			@include size(6);	
		}

		&__cargo-itm {
			@include size(6);	
		}
		&__dtd {
			&-cap {
				font-size: 32px;
				line-height: 38px;
			}
			&-tx{
				font-size: 16px;
				line-height: 160%;
			}
		}
	}

	@include xs-block () {
		&__inf{
			padding: 40px 0;

			&-cap{
				margin-bottom: 40px;
			}

			&-scap {
				font-size: 18px;
				line-height: 27px;
				margin-bottom: 11px;
			}
		}
		&__serv-itm {
			@include size(12);	
			&:nth-last-child(-n+2) {
				border-bottom: 1px dashed #B4B8C5;	
			}
			&:last-child {
				border-bottom: none;
			}
		}
		&__cargo-itm {
			font-size: 15px;
			line-height: 28px;
			@include size(12);	
		}

		&__car {
			@include col ();
			@include size(12);
		}
		&__blank {
			@include col ();
			@include size(12);
		}

		&__tx {
			@include size(12);
		}

		&__img {
			position: relative;
			display: block;
			margin: 0 auto;
		}

		&__car {
			margin-top: 16px;
			display: flex;
    		justify-content: center;
		}
	}

}