.contacts {
    padding: 80px 0 56px 0;

    &__cap {
        @include fnt-roboto-c ($clr-dark-grey, 32px, 37px, bold);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 24px;
    }

    &__line {
        @include fnt-roboto ($clr-dark-grey, 17px, 29px, normal);
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    & .row-f {
        justify-content: center;
    }
    & .col {
        @include size(10);
    }
}