.sc-clearence {

	&__cap {
		margin-bottom: 80px;
	}

	& .list-icn:last-child {
		border-bottom: 1px dashed #B4B8C5;
	}


	&__ls {
		@include col();
		@include size(6);

		& > ul {
			margin-bottom: 40px;
		}
	}
	&__tx {
		@include col();
		@include size(6);
	}

	@include sm-block () {
		&__cap {
			margin-bottom: 56px;
		}
		&__ls {
			@include size(12);
			order: 2;
			& > ul {
				margin-bottom: 16px;
			}
		}
		&__tx {
			@include size(12);
			order: 1;
			margin-bottom: 40px;
		}

	}

	@include xs-block () {
		&__cap {
			margin-bottom: 40px;
		}

		&__ls {
			& > ul {
				margin-bottom: 24px;
			}
		}

	}
}