.list {
	@include fnt-fira (#373F51, 17px, 180%, normal);
		display: flex;
		align-items: flex-start;

		&:before {
			align-self: flex-start;
    		margin-top: 12px;
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #0073BE;
			margin-right: 10px;
			flex: 0 0 auto;

		}

	@include xs-block () {
		font-size: 15px;
		line-height: 28px;
	 }
}