.sc-about {
    background-color: #ffffff;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;

    &__itm {
    	@include row-flex ();
		margin-bottom: 56px;
    	&:last-child {
    		 margin-bottom: 0px;
    	}
    	

    	@include sm-block () {
    		margin-bottom: 40px;
    		&:last-child {
    		 margin-bottom: 0px;
    		}
			
		}
    }

    &__inf {
    	padding: 80px 0px 80px 0px;

    	@include sm-block () {
		   padding: 56px 0px 56px 0px;
		}		

		@include xs-block () {
		    padding: 40px 0px;
		}
    }

    &__assoc {
    	background-color:#F3F3F3;
    	padding: 56px 0px 64px 0px;

    	&-cap {
    		margin-bottom: 24px;
    	}
    	&-scap {
    		margin-bottom: 56px;
    	}

    	@include sm-block () {
		   padding: 56px 0px 56px 0px;

		   &-scap {
		   	margin-bottom: 40px;
		   }
		}		

		@include xs-block () {
		    padding: 40px 0px;

		    &-cap {
    		font-size: 18px;
			line-height: 27px;
			margin-bottom: 16px;
    		}

    		&-scap {
    			margin-bottom: 24px;
    		}

		}
    }
	
	&__bl-inf{
		@include col();
        @include size(4);

        background: #FFFFFF;
		border: 1px solid #D5D7E1;
		box-sizing: border-box;
		border-radius: 3px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 16px;
		text-align: center;

		&-cap {
			margin-bottom: 7px;
		}

		@include sm-block () {
			& .fnt-fr--3244 {
				font-size: 24px;
				line-height: 44px;
			}
			& .fnt-lc--17 {
				font-size: 16px;
				line-height: 160%;
			}
		}
		@include xs-block () {
			@include size(12);
			margin-bottom: 24px;
			&:last-child {
				margin-bottom: 0;
			}
		}

		
	}

	&__chk-inf{
		@include col();
        @include size(3);

		@media only screen and (max-width: 980px) {
            @include size(6);
			margin-bottom: 24px;
        }

		@include xs-block () {
			@include size(12);
			margin-bottom: 16px;
		}
	
	}

	&__assoc-img {
		@include col();
        @include size(3);
        display: flex;
		margin-bottom: 24px;
		align-items: center;
    	justify-content: center;
    	 & > picture {
    	 	width: 100%;
    	 	display: flex;
    	 	justify-content: center;
    	 	align-items: center;
    	 }

		&:last-child {
			margin-bottom: 0;
		}


		& > img, & > picture {
		margin: 0 auto;
        background-blend-mode: color, normal;
		opacity: 0.4;
		filter: grayscale(1);
		cursor: pointer;
		&:hover {
			opacity: 1;
			filter: grayscale(0);	
		}

		}
		
		@include sm-block {
			
		}

		@include xs-block () {
			@include size(12);
			height: 128px;
			 
		}

	}

	&__cap, &__scap {
		margin-bottom: 56px;

		@include sm-block () {
			margin-bottom: 40px;
		}
		@include xs-block () {
			margin-bottom: 24px;
		}
	}

	&__scap {
		@include sm-block () {
			font-size: 24px;
			line-height: 32px;
		}
		@include xs-block () {
			font-size: 18px;
			line-height: 27px;
		}
	}

					

}