.box-gr {
	@include fnt-fira (#373F51, 17px, 180%, normal);
	display: flex;
	flex-wrap: nowrap;
	counter-reset: num;
  	list-style: none;

	&__item {
		position: relative;
		max-width: 380px;
		// max-height: 134px;
		overflow: hidden;
		padding: 16px 25px 16px 26px;
		background-repeat: no-repeat;
  		background-position: 50% 0;
		background-size: 100% 100%;
		background-image: url(#{$imgFolder}img-arrow2.png);
		&:last-child {
			background-image: url(#{$imgFolder}img-arrow3.png);
		}
		&:first-child {
			background-image: url(#{$imgFolder}img-arrow1.png);
		}
	}
		
}