.contract {
    padding: 40px 0 128px 0;
    background-color: $clr-white;

    &__menu {
        @include col();
        @include size(3);
    }
    &__text {
        @include col();
        @include size(9);

        &-cap {
            @include fnt-roboto-c (#1D2228, 32px, 37px, normal);
            margin-bottom: 16px;
        }

        @include fnt-roboto (#333333, 15px, 24px, normal);
    }
}