.sc-air {
	padding: 80px 0px;
	background-image: url(#{$imgFolder}img-sky.jpg);
	background-position: top;
	background-size: 100%;
	background-repeat: no-repeat;

	&__cap {
		margin-bottom: 80px;
	}
	&__itm {
		margin-bottom: 56px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__tx {
		@include col();
		@include size(6);

		&-itm {
			margin-bottom: 16px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__img {
		@include col();
		@include size(6);
		& > img {
			margin-bottom: 22px;
		}
	}

	& .box-gr__item {
		@include col();
		@include size(4);
	}

	@include sm-block() {
		background-image: url(#{$imgFolder}img-sky--t.jpg);
		&__cap {
			margin-bottom: 56px;
		}

		&__tx-itm {
			font-size: 16px;
			line-height: 160%;
		}

		&__img {
			& > img, & > picture {
				margin-bottom: 16px;
			}
		}

		&__itm {
			& .box-gr {
				&__item {
					font-size: 16px;
					line-height: 160%;
				}
			}
		}

	}

	@include xs-block () {
		&__cap {
			margin-bottom: 24px;
		}
		&__itm { 

			margin-bottom: 40px;

			& .box-gr {
				flex-wrap: wrap;
				justify-content: center;
				&__item {
					font-size: 15px;
					line-height: 22px;
					@include size(12);
					margin-bottom: 24px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}

		&__tx-itm{
			font-size: 15px;
			line-height: 22px;
		}

		&__tx {
			@include size(12);
			order: 2;
		}

		&__img {
			@include size(12);
			order: 1;
			margin-bottom: 24px;
			& > img, & > picture {
				margin-bottom: 0px;
			}
		}

	}

}