.footer {
	@include fnt-roboto ($clr-white, 16px, 19px, normal); 
	height: 56px;
	padding: 19px 156px 18px 156px;
	display: flex;
	align-items: center;
	background-color: #3D4855;

	&__rg {
		margin-left: auto;
	}

}