

.radio {
    padding-left: 32px;
    position: relative;
    
    &__input {
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
        &:checked + .check__box{
            border: 2px solid $clr-green;
            background-color: $clr-green;
            

            &:before {
                content: "";
                position: absolute;
                opacity: 1;
                top: 40%;
                left: 50%;
                transform-origin: left top;
                width: $check-width;
                height: $check-height;
                border-left:2px solid #FFFFFF;
                border-top:2px solid #FFFFFF;
                transform:  rotate(-135deg) translate(-50%,-50%);
                animation-duration: .8s;
                animation-timing-function: ease;
                animation-name: checkmark;
            }
        }
        &:focus + .check__box {
            
        }

        &:disabled + .check__box {
            cursor: not-allowed;
        }

    }

    &__box {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        border: 2px solid $clr-grey-border;
        border-radius: 6px;
    }
}

@keyframes checkmark {
    0% {
      height: 0;
      width: $check-width;
      opacity: 1;
    }
    20% {
      height: $check-width;
      width: $check-width;
      opacity: 1;
    }
    40% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
    100% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
  }