$radiomark-width: 10px;
$radimark-height: 10px;

.radio {
    padding-left: 32px;
    position: relative;
    @include fnt-roboto ($clr-dark-grey, 17px, 24px, normal);
    
    &__input {
        position: absolute;
        appearance: none;
        -webkit-appearance: none;

        &:checked + .radio__box{
            border-radius: 50%;
            border: none;
            background-color: $clr-green;
            

            &:before {
                content: "";
                position: absolute;
                opacity: 1;
                top: 50%;
                left: 50%;
                width: $radiomark-width;
                height: $radimark-height;
                background-color: #FFFFFF;
                border-radius: 50%;
                transform:  translate(-50%,-50%);
                animation-duration: .2s;
                animation-timing-function: ease;
                animation-name: radiocheck;
            }
        }
        &:focus + .check__box {
            
        }

        &:disabled + .radio__box {
            background-color: #ECEDEE;
        }
        &:disabled ~ .radio__label {
          color: #D2D3D4;
        }


    }

    &__box {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        border: 2px solid $clr-grey-border;
        border-radius: 50%;
    }
}

@keyframes radiocheck {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: $radimark-height/5;
      width: $radiomark-width/5;
      opacity: 1;
    }
    40% {
      height: $radimark-height/2;
      width: $radiomark-width/2;
      opacity: 1;
    }
    100% {
      height: $radimark-height;
      width: $radiomark-width;
      opacity: 1;
    }
  }